# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
tf_env/

/*.gz

# Imagenes en carpetas
/simpsons_testset
/simpsons_train

# Jupyter Notebook
.ipynb_checkpoints